.container{
 /* display: flex;
 justify-content: center; */
  background-color: white;
}
.counterVar{
  display: flex;
  justify-content: center;
}
.Button{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}